@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


.tee{
margin-top: 15px;
margin-bottom: 15px;
width: 632px;
height: 23px;
left: 486px;
top: 204px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
text-align: center;
color: #666666;
}

.tees{
    text-align: center;
    padding: 2rem;
    color: #333333;
    font-size: 25px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    text-transform: capitalize;
}

.dee{
    margin-top: 20px;
    background-color: hsl(177, 72%, 37%);
    color: white;
    font-size: 23px;
    font-family: 'Noto Sans', sans-serif;
    left: 624px;
    top: 150px;
}

.para{
    font-size: 20px; 
    margin-top: 15px;  
    font-family: 'Noto Sans', sans-serif;
  
}
  .write_on{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #DFF1F0;
    border-radius: 8px;
    margin-top: 1rem 0rem;
    padding: 1rem;
    width: 746px;
    height: 63px;
    left: 435px;
    top: 451px;
    font-weight: bold;
}
.con_click{
    background-color: hsla(168, 54%, 67%, 0.1);
    margin: 0rem 0rem 0.5rem;
    padding: 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 746px;
    color:#666666;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F8F7;
    border-radius: 8px;
    margin: 0.5rem 0rem;
    padding: 1rem;
    width: 746px;
    height: 63px;
    left: 435px;
    top: 451px;
    font-weight: bold;
}

.con > i,
.cont >i{
    color: hsl(177, 72%, 37%);
    font-size: 30px;
}

.body{
    margin-bottom: 60px;
}

.sub_btn{
   
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #00AAA1;
    width: 153px;
    height: 45px;
    left: 724px;
    top: 892px;
    border: 1px solid #00AAA1;
    border-radius: 6px;
    background: white;
    box-sizing: border-box;
}