 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/** Top Navigation bar **/
.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E8F3F3;
    padding: 2%;
    height: 40px;
    width: 100%;
}

.links{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    
    
}

a{
    text-decoration: none;
    color: rgb(77, 67, 67);
}

.logo{
   
    display: flex;
    
}

.dess{
    background-color: #00AAA1;
    color: white;
    font-size: 35px;
    padding: 3%;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 3px;
}


.logo > p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:0px;
    padding: 0px;
}

.dot{
    color: #00AAA1;
}
.right-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}

.fa-moon{
   background-color: #00AAA1;
   color: #E8F3F3;
   width: 15px;
   height: 15px;
   border-radius: 3px;
   padding-left: 3px;
   padding-right: 3px;
}
@media (max-width: 650px){
    .Navbar{
        display: flex;
        flex-direction: column;
        background-color: #E8F3F3;
        padding: 2%;
        height: 40px;
        width: 100%;
    }


}
